# This is an example systemd service file for deploying NearTalk
# "webserver" is the web server you are using for reverse proxying.

[Unit]
Description=NearTalk server
After=webserver.service

[Install]
WantedBy=webserver.service

[Service]
WorkingDirectory=/path/to/neartalk-git
ExecStart=/path/to/neartalk-git/neartalk -port 1234 -key PUT-ADMIN-KEY-HERE
Restart=always
